@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Dirt&family=Rubik+Wet+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}

/* Handle */
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(200, 200, 200, 0.15);
}

/* Track */
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
  color: black; /*Change the placeholder color*/
  opacity: 0.6; /*Change the opacity between 0 and 1*/
}
